# Ignore Cargo's target directory
api/target/
api/migration/target/

# Ignore Cargo.lock if you don't want to commit it (recommended for libraries)
api/Cargo.lock
# Ignore build artifacts
*.d

# Ignore MacOS Finder metadata
.DS_Store

# Ignore IDEs and editor files
.vscode/
.idea/

# Ignore environment-specific files
.env

# Ignore compiled binaries
*.exe
*.out
*.app



